<!DOCTYPE html>
<html>
  <head>
    <title>MyYelpy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

  <script type="text/javascript">
    window.jumbotron = "<%= image_url("rachael-gorjestani-fs9MXZo-k1o-unsplash-md.jpg") %>";
    window.foodbag = "<%= image_url("food_delivery_icon_2x.png") %>";
    window.yelp_white_sm = "<%= image_url("yelp_icon_white.png") %>";
    window.yelp_red_sm = "<%= image_url("yelp_icon_red.jpg") %>";
    window.yelp_red_sm = "<%= image_url("yelp_icon_red.jpg") %>";
    window.signup_illustration = "<%= image_url("signup_illustration.png") %>";
  
  </script>
  <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@900&display=swap" rel="stylesheet">

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
